$main-font-size: 15px;
$font-stack: Poppins, sans-serif;
$font-color: hsl(229, 6%, 66%);
$font-color-dark: hsl(234, 12%, 34%);
$color-light-gray: hsl(0, 0%, 98%);
$background: hsl(0, 0%, 98%);
$red-color: hsl(0, 78%, 62%);
$cyan-color: hsl(180, 62%, 55%);
$orange-color: hsl(34, 97%, 64%);
$blue-color: hsl(212, 86%, 64%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-stack;
    font-size: $main-font-size;
    background-color: $background;
    color: $font-color;
    height: 90%;
    padding: 50px 0;
    
}

html {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .card {
    border-top: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px $font-color;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
    width: 100%;

    h3 {
        color: $font-color-dark;
        margin-bottom: 10px;
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    .card-icon {
        display: flex;
        justify-content: flex-end;
    }
}

footer {
    font-size: 0.8rem;

    a {
        text-decoration: none;
        color: $font-color-dark;
    }

    margin: 50px 0 20px 0;
    text-align: center;
}