@import 'base';


.container {
    width: 85%;
    margin: auto;
}

// ----- Header ----- 


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-color-dark;
    margin: 0 0 50px 0;
    text-align: center;

    h1 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 10px;
    }

    span {
        font-weight: 600;
    }

    p {
        color: $font-color;
        max-width: 500px;
    }
}

// ----- Main -----

main {
    .card-supervisor {
        border-top: 3px solid $cyan-color;
    }

    .card-teambuilder {
        border-top: 3px solid $red-color;
    }

    .card-karma {
        border-top: 3px solid $orange-color;
    }

    .card-calculator {
        border-top: 3px solid $blue-color;
    }
}

// Tablets
@media only screen and (min-width: 481px) {
    .card {
        max-width: 400px;
    }
}

// Laptops
@media only screen and (min-width: 769px) {
    main {
        display: grid;
        gap: 30px;
        width: 75%;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            ". team-builder ."
            "supervisor team-builder calculator"
            "supervisor karma calculator"
            ". karma .";
        align-items: stretch;


        .card-supervisor {
            grid-area: supervisor;
            
        }

        .card-teambuilder {
            grid-area: team-builder;
        }

        .card-karma {
            grid-area: karma;
        }

        .card-calculator {
            grid-area: calculator;
        }
    }
}

// Desktops
@media only screen and (min-width: 1025px) {

}